<footer class="footer">
  <small>
    <p>Adventure Chef by Chloe Vilain<p>
    <p>Adventure Chef is open-source! We invite you to use
      <a href=https://github.com/chloe-vilain/cooking-app>our framework</a>
       to build your own learning quests.</p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
